<div class="modal-header">
    <h3 class="modal-title">Edit task</h3>
</div>
<form role="form" name="editTaskForm" novalidate>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error': editTaskForm.title.$invalid }">
            <label for="title">Task title</label>
            <input type="text"
                   name="title"
                   class="form-control"
                   ng-model="form.title"
                   id="title"
                   placeholder="Enter task title" required>
        </div>

        <div class="form-group" ng-class="{ 'has-error': editTaskForm.description.$invalid }">
            <label for="description">Task description</label>
            <textarea type="text"
                      name="description"
                      class="form-control"
                      ng-model="form.description"
                      id="description"
                      placeholder="Enter task description"
                      rows="3"></textarea>
        </div>

        <div class="form-inline">
            <div class="form-group" ng-class="{ 'has-error': editTaskForm.type.$invalid }">
                <select name="type"
                        class="form-control"
                        ng-model="form.type"
                        id="type"
                        ng-options="type.id as type.name for type in type_opt" required>
                </select>
            </div>

            <div class="form-group" ng-class="{ 'has-error': editTaskForm.priority.$invalid }">
                <select name="priority"
                        class="form-control"
                        ng-model="form.priority"
                        id="priority"
                        ng-options="priority.id as priority.name for priority in priority_opt" required>
                </select>
            </div>

            <div class="form-group" ng-class="{ 'has-error': editTaskForm.position.$invalid }">
                <select name="position"
                        class="form-control"
                        ng-model="form.position"
                        id="position"
                        ng-options="position.id as position.name for position in position_opt" required>
                </select>
            </div>

            <div class="form-group" ng-class="{ 'has-error': editTaskForm.points.$invalid }">
                <input type="number"
                       name="points"
                       class="form-control"
                       ng-model="form.points"
                       id="points"
                       placeholder="Estimate points" required/>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-class="{ 'disabled': editTaskForm.$invalid }" ng-click="save(form)">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>
