<button type="button" class="btn btn-default" ng-controller="CreateSprintCtr" ng-click="createSprint()">Add sprint</button>

<table ng-if="sprints.length > 1" class="table ui-table-hover text-center">
    <thead>
    <tr>
        <th></th>
        <th class="clickable text-center" ng-click="orderType='id'; order=!order">#id</th>
        <th class="clickable text-center" ng-click="orderType='status'; order=!order">Status</th>
        <th class="clickable text-center" ng-click="orderType='duration'; order=!order">Duration</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="sprint in sprints | orderBy: orderType | reverse: order" ng-if="sprint.id != 0" ng-style="get_sprint_style(sprint)">
        <td>
            <img class="clickable inline" ng-click="remove(sprint)" src="/pages/images/remove.png" style="width: 20px; height: 20px"/>
            <img class="clickable inline" ng-controller="EditSprintCtr" ng-click="editSprint(sprint)" src="/pages/images/edit.png" style="width: 20px; height: 20px"/>
        </td>
        <td ng-click="go(sprint)">{{sprint.id}}</td>
        <td ng-click="go(sprint)">{{sprint.status}}</td>
        <td ng-click="go(sprint)">{{sprint.duration}}</td>
    </tr>
    </tbody>
</table>
