<div class="modal-header">
    <h3 class="modal-title">Edit project</h3>
</div>
<form role="form" name="editProjectForm" novalidate>
    <div class="modal-body">

        <div class="form-group" ng-class="{ 'has-error': editProjectForm.name.$invalid }">
            <label for="name">Project name</label>
            <input type="text"
                   name="name"
                   class="form-control"
                   ng-model="form.name"
                   id="name"
                   placeholder="Enter project name" required>
        </div>

        <div class="form-group" ng-class="{ 'has-error': editProjectForm.status.$invalid }">
            <select name="status"
                    class="form-control"
                    ng-model="form.status"
                    id="status"
                    ng-options="option.id as option.name for option in options" required>
            </select>
        </div>

        <div class="form-group" ng-class="{ 'has-error': editProjectForm.description.$invalid }">
            <label for="description">Project description</label>
            <textarea type="text"
                      name="description"
                      class="form-control"
                      ng-model="form.description"
                      id="description"
                      placeholder="Enter project description"
                      rows="3"></textarea>
        </div>

        <div class="form-group" ng-class="{ 'has-error': editProjectForm.max_points_per_sprint.$invalid }">
            <label for="max_points_per_sprint">Points per sprint</label>
            <input type="number"
                   name="max_points_per_sprint"
                   class="form-control"
                   ng-model="form.max_points_per_sprint"
                   id="max_points_per_sprint"
                   placeholder="Enter the maximum number of points for each sprint" required/>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-default" ng-class="{ 'disabled': editProjectForm.$invalid }" ng-click="save(form)">Save</button>
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</form>
